.jiraya {
    width: 100px;
}

.jiraya1 {
    width: 100pt;
}

.jiraya2 {
    width: 20%;
}

.jiraya3 {
    width: 50vw;
}

.jiraya4 {
    height: 10vh;
}

.p1 {
    font-size: 1.5em;
}

.p2 {
    font-size: 3rem;
}