a {
    background-color: cornflowerblue;
    color: #f0f8ff;
    padding: 12px;
    text-decoration: none;
}

a:visited {
    background-color: blueviolet;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: darkcyan;
}